<div class="container">
    <h2 class="font-monospace pt-2" translate>it.service-info.title</h2>
    <div class="shadow">
    <it-table hover="true">
        <ng-container thead>
        <tr class="bg-dark text-white font-monospace">
            <th scope="col">#</th>
            <th scope="col" translate>it.service-info.table.cols.microservice</th>
            <th scope="col" translate>it.service-info.table.cols.status</th>
            <th scope="col" translate>it.service-info.table.cols.version</th>
            <th scope="col" translate>it.service-info.table.cols.date</th>
            <th scope="col" class="col-1"></th>
        </tr>
        </ng-container>

        <ng-container tbody>
        @for (service of services; track $index; let idx = $index) {
            <tr>
                <th scope="row">{{idx + 1}}</th>
                <td class="fw-bolder">{{service.artifact}}</td>
                <td>
                  <span class="badge" [ngClass]="service.status === 'UP' ? 'bg-success' : 'bg-danger'">
                    {{ ('it.service-info.status.' + (service.status || 'unknown')) | translate }}
                  </span>
                </td>
                <td class="fst-italic">{{service.version || ('it.service-info.unavailable' | translate)}}</td>
                <td>
                  @if (service.time) {
                    {{service.time | date: 'dd/MM/yyyy HH:mm:ss'}}
                  } @else {
                    {{'it.service-info.unavailable' | translate}}
                  }
                </td>
                <td>
                  @if(service.artifact === 'public-sites-service') {
                    <button itButton class="btn shadow" (click)="openDetails(service)">
                      <it-icon name="card"></it-icon>
                      <span class="d-none d-xl-block ps-1" translate>it.navigation.details</span>
                    </button>
                  }
                </td>
            </tr>
        }  
        </ng-container>
    </it-table>
    </div>
</div>

<!-- Modale dettagli servizio -->
<it-modal #lockModal="itModal" size="md" footerShadow="true" closeButton="true">
  <ng-container modalTitle><span translate>it.company.service-title</span></ng-container>
    <div class="form-check form-switch mb-0">
      <it-checkbox 
        [label]="'it.company.lock-status'| translate" 
        [checked]="lockStatus"
        (change)="onToggleLock($any($event.target).checked)" 
        toggle="true">
      </it-checkbox>                
    </div>
    @if(lastUpdate) {
      <h6 class="text-info font-monospace ps-4">{{'it.company.last-update' | translate: {lastUpdate: lastUpdate| date: 'dd/MM/yyyy \'alle\' HH:mm:ss'} }}</h6>
    }
  <ng-container footer>
    <button itButton="outline-secondary" size="sm" type="button" data-bs-dismiss="modal" translate>button.cancel</button>
  </ng-container>
</it-modal>